@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }   
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }

    .resume {
        &__wrapper {
            grid-template-columns: repeat(2,365px);
            column-gap: 105px;
        }
    }

    .stack {
        padding-top: 70px;
        &__wrapper {
            padding-top: 30px;
            grid-template-rows: repeat(2, 240px);
        }
        &__item {
            padding: 15px;
        }
    }

    .skills__wrapper {
        padding-top: 60px;
    }

    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-template-rows: unset;
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 40px;
        
        }
        &__item {
            &-vertical, &-horizontal {
                grid-column: unset;
                grid-row: unset;
            }
            img {
                filter: none;
            }
         }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }

    .resume {
        padding-top: 70px;
        &__wrapper {
            padding-top: 30px;
            grid-template-columns: unset;
            column-gap:normal;
            row-gap: 25px;
        }
    }
    .stack {
        &__wrapper {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 220px);
        }
        &__item {
            padding: 15px;
        }
        &__icon {
            height: 35px;
        }
    }

    .skills {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 70px);
        }
        &__percentage {
            font-size: 14px;
        }
    }


}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .title {
        
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 0;
    }

    .stack {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 240px);
        }
        &__item {
            padding: 25px;
        }
        &__icon {
            height: 45px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: unset;
            margin: 0px 40px;
        }
    }

    .portfolio {
        padding-top: 45px;
        &__wrapper {
            row-gap: 20px;
        } 
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .title {
        
        &_fz48 {
            font-size: 26px;
        }

        &_fz36 {
            font-size: 24px;
            line-height: 30px;
        }
    }
    .hamburger {
        right: 20px;
    }

    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        &__buttons {
            margin-top: 30px; 
        }
    }

    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }

    .resume {
        padding-top: 30px;

        &__wrapper {
            padding: 15px 20px;
        }
    }

    .stack {
        &__wrapper {
            padding: 20px;
            align-items:center;
            justify-content: center;
            grid-template-columns: repeat(1, 270px);
            grid-template-rows: repeat(8, 270px);
        }
        &__item {
            height: 100%;
            padding: 30px;
        }
        &__icon {
            height: 65px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-rows: repeat(6, 1fr);
            row-gap: 40px;
            margin: 0px ;
        }
    }
}